//FONTES
$fonte-f: 'Roboto', sans-serif;

//CORES:
$cinza: #505053;
$branco: #f7f1f1;
$preto: #1d143a;
$azul: 155e5e;

//BACKGROUDS E IMAGENS:
$bg--mapa-aqua: url(/images/mapa-aqua.png);
$bg--mapa-azul: url(/images/mapa-azul.png);
$bg--mapa-bege: url(/images/mapa-bege.png);
$bg--mapa-cinza: url(/images/mapa-cinza.png);