@use 'variaveis' as var;

.bg_mapa{
    font-family: var.$fonte-f;
    background-image: var.$bg--mapa-aqua;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
}

.box_padrao {
    background-color: #ffffff;
    color: var.$cinza;
    border: solid white 2px;
    border-radius: 15px;
    box-shadow: 10px 15px 5px #1d143a;
    padding: 30px;
    margin: 60px auto 0 auto;
    width: 60%;
}

.box-mensagem {
    width: 90%;
    margin: 0 0 30px 0;
    box-shadow: 1px 1px 8px 2px #1d143a inset;
    border-radius: 0px;
    padding: 10px 15px;
    color: var.$cinza;
}

.btn {
    border-radius: 15px;
    width: 30%;
    height: 30px;
    background-color: #307474;
    color: var.$branco;
    border: none;
    box-shadow: 1px 1px 8px 2px #0f2424 inset;

    &:hover {
        background-color: #558383;
        cursor: pointer;
    }

    &:active {
        transform: scale(0.90);
    }
}

.pais_titulo {
    font-size: larger;
    font-weight: bold;
    color: var.$cinza;
}

.pais_curiosidade {
    font-size: small;
    font-weight: bold;
    color: var.$cinza;
    text-align: justify;
}

.pais_contagem {
    color: #307474;
    font-size: small;
    font-weight: bold;
    color: var.$azul;

}

.hide {
    display: none;
}

.text_center{
    text-align: center;
}

.bold{
    font-weight: bold;
}

.posicao{
    margin: auto auto 30% 30%;
}

@media(max-width: 950px){
    .bg_mapa{
        background-position: -20px;
    }
}

@media(max-width: 800px) {
    .bg_mapa {
        background-position: -50px;
    }
}
@media(max-width: 700px) {
    .bg_mapa {
        background-position: -100px;
    }
}

@media(max-width: 400px) {
    .bg_mapa {
        background-position: -200px;
    }
}